.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: 2rem;
}

.App-link {
  color: #61dafb;
}

.title-box {
  width: 100%;
  background-color: rgb(46, 46, 46);
  justify-content: flex-start;
  border-radius: 8px;
  box-shadow: 0 6px 6px rgb(70, 70, 70);
  padding: 1rem;
  color: white;
}

.chat-box {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 2rem;
  color: white;
  background-color: #363b47;
  height: 70vh;
  overflow-y: auto;
}

.message-blurb {
  width: fit-content;
  max-width: 60%;
  padding: 1px 5px;
  border-radius: 12px;
  margin: 1rem;
  background-color:rgb(124, 124, 124);
  align-self: flex-end;
  font-size: 20px;
}

.response-blurb {
  width: fit-content;
  max-width: 100%;
  padding: 1px 5px;
  border-radius: 12px;
  margin: 1rem;
  background-color: rgb(83, 83, 83);
  align-self: flex-start;
  font-size: 20px;
}

.user-response-box {
  width: 70%;
  display: flex;
  gap: 10px;
  background-color: #363b47;
  height: 6vh;
  overflow-x: auto;
  border-radius: 15px;
  overflow: visible;
  height: auto
}

.input-response {
  width: 90%;
  background-color: transparent;
  border-color: transparent;
  outline: none;
  font-size: 16px;
  color: white;
  padding: 0.5rem 1rem;
  resize: none;
  overflow-y: auto;
  height: auto;
}

.submit-response {
  width: 10%;
  height: 60%;
  align-self: center;
  background-color: transparent;
  border: none;
  border-color: transparent;
  background-image: url('../public/submit.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  filter: brightness(0) invert(1);
}

.message-blurb p,
.response-blurb p,
.message-blurb li,
.response-blurb li,
.message-blurb ul,
.response-blurb ul,
.message-blurb ol,
.response-blurb ol,
.message-blurb h1,
.response-blurb h1,
.message-blurb h2,
.response-blurb h2,
.message-blurb h3,
.response-blurb h3 {
  margin-block: 0.5em;
}